// General

$light-background-color: #ffffff;
$light-color: #333333;

$dark-background-color: #241A18;
$dark-color: #f0f0f0;
$dark-color-header: #C99187;
$dark-color-focused: #A49490;
$dark-color-blur: #67504C;

$lightGrey-background-color: #F1F1F1;
$lightGrey-color: #757575;
