<aside>
  <nav>
    <ul>
      <li><a><i class="flaticon-transaction"></i><span>Transactions</span></a></li>
      <li><a><i class="flaticon-transaction"></i><span>Transactions</span></a></li>
      <li><a><i class="flaticon-transaction"></i><span>Transactions</span></a></li>
      <li><a><i class="flaticon-transaction"></i><span>Transactions</span></a></li>
      <li><a><i class="flaticon-transaction"></i><span>Transactions</span></a></li>
      <li><a><i class="flaticon-transaction"></i><span>Transactions</span></a></li>
      <li><a><i class="flaticon-transaction"></i><span>Transactions</span></a></li>
      <li><a><i class="flaticon-transaction"></i><span>Transactions</span></a></li>
      <li><a><i class="flaticon-transaction"></i><span>Transactions</span></a></li>
      <li><a><i class="flaticon-transaction"></i><span>Transactions</span></a></li>
      <li><a><i class="flaticon-transaction"></i><span>Transactions</span></a></li>
      <li><a><i class="flaticon-transaction"></i><span>Transactions</span></a></li>
      <li><a><i class="flaticon-transaction"></i><span>Transactions</span></a></li>
      <li><a><i class="flaticon-transaction"></i><span>Transactions</span></a></li>
      <li><a><i class="flaticon-transaction"></i><span>Transactions</span></a></li>
      <li><a><i class="flaticon-transaction"></i><span>Transactions</span></a></li>
    </ul>
  </nav>
</aside>
